/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
    object-fit: cover;
}

button{
    border: none;
    cursor: pointer;
}


/* UTILITIES */

.flex{
    display: flex;
}

.bg{
    background-color: #EAEAEA;
}

.color-lg{
    color: lightgray;
}

.color-g{
    color: gray;
}

.mr{
    margin-right: 15px;
}

.fs-13{
    font-size: 1.3rem;
}

.fs-08{
    font-size: 0.8rem;
}

.fs-06{
    font-size: 0.6rem;
}

/* LAYOUT */

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #D3DBDB, #DCDBD1 80%, #009688 80% );
}

.container-webapp{
    height: 95vh;
    width: 80%;
    display: flex;
}


/* SEZIONE SINISTRA WEB APP */

.container-sx{
    width: 30%;
    height: 95vh;
}

/* USER */

.user{
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-right: 1px solid lightgray;
}


.tool{
    display: inline-block;
    font-size: 1.1rem;
    letter-spacing: 5px;
    color: #B1B1B1;
}

/* NOTICE */

.notice{
    background-color: #8EDAFC;
    height: 8vh;
    align-items: center;
}

.bell-notice{
    background-color: white;
    color:#8EDAFC ;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
}

.notice-on{
    display: block;
    color:grey;
}

/* FIND BAR */

.find{
    height: 6vh;
    align-items: center;
}

.find-bar{
    height: 5vh;
}

.lent{
    background-color: white;
    padding: 7px;
    width: 50px;
    margin-left: 6px;
}

.find-input{
    border: none; 
    padding: 7px;  
    width: 295px; 
    height: 5vh;
}


/* CONTACTS */

.contacts{
    height: 73vh;
    overflow-y: scroll;
    background-color: white;
}

.contact{
    padding: 30px 10px;
    height: 8vh;
    align-items: center;
    position: relative;
}

.time{
    position: absolute;
    top: 10px;
    right: 8px;
}


/* SEZIONE DESTRA WEB APP */

.container-dx{
    width: 70%;
    height: 95vh;
}

/* SPEACKER */

.speacker{
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.container-speacker{
    align-items: center;
}

.speacker-tool{
    letter-spacing: 5px;
    font-size: 1.1rem;
}

/* MESSAGE */

.message{
    height: 79vh;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
    align-items: center;
    justify-content: center;
}

.container-message{
    height: 60vh;
    width: 80%;
}

.send {
    height: 130px;
    width: 400px;
    background-color: #D5F9BA;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5px;
    margin-left: 150px;
}

.text{
    width: 90%;
}

.send-time{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.recived{
    background-color: white;
    height: 100px;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
    position: relative;
}

/* INPUT TEXT */

.write{
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.write-message{
    border: none;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


/* ****************************
APPROCCIO DEKSTOP FIRST
**************************** */


@media screen and (max-width:768px) {

    .container-webapp{
        height: 100vh;
        width: 100%;
        margin: 0;
    }

    .container-sx{
        height: 100vh;
        width: 10%;
    }

    .tool{
        display: none;
    }

    .notice{
        display: none;
    }

    .find{
        display: none;
    }

    .contacts{
        height: 92vh;
    }

    .contact > div{
        display: none;
    }

    .container-dx{
        height: 100vh;
        width: 100%;
    }
    
    .message{
        height: 84vh;
        width: 100%;
    }
}

@media screen and (max-width:480px){
    .container-sx{
        display: none;
    }

    .send{
        margin-left: 40px;
        width: 300px;
    }

    .recived{
        width: 300px;
    }
}
